{% extends "_layout" %}


{% block content %}

<style media="screen">

  html, body{height:100%;}

 .arrow-down {
 		margin: 0 auto;
		width: 36px; 
		height: 24px;
		background: url("/img/arrow.png");
		text-indent: -9999px;        
		position:fixed; 
        z-index: 9999;
        font-size: 60px;
        color: #fff;
        text-align: center;
/*         bottom: 6%; */
top: 88%;
        left: 50%;
        margin-left: -18px;
        opacity: .8;
    }

</style>


{% paginate craft.entries.section('work').limit(1).private('not 1').superHero('1') as entries %}
{% for entry in entries %}
<section class="hero-section banner_sizing img_overlay" style="background-image: url({%if entry.workImage | length %}{% for asset in entry.workImage %}{{ asset.url }}{% endfor %}{% else %}{{ craft.setcookie.vimPic(entry.video) }}{% endif %});">
	<div class="container cf">
		<div class="grid_full">
			<div class="hero">
				<div class="message">
					{{homeHeader.body}}
				</div>
				<div class="va_b">
					<a href="{{entry.url}}?play=true" class="btn">play &#9656;</a>
				</div>
			</div>
		</div>
	</div>
</section>
{% endfor %}
{% endpaginate %}

<section class="tag-line banner_sizing">
	<div class="container cf">
		<div class="grid_full">
			<h3><span class="il_b">Insightful <strong>Strategy</strong>&ensp;</span><br class="dn_at_w565"><span class="il_b">+ Incite-ful <strong>Creative</strong>&ensp;</span><br class="dn_at_w565"><span class="il_b">= Clarity</span></h3>
			<h3>We make stories move</h3>
		</div>
	</div>
</section>

<section class="recent">
	<div class="container">
		<div class="title cf">
			<div class="grid_full">
				<h4>Recent Work</h4>
				<hr class="short">
			</div>
		</div>
		<div class="work">
			{% paginate craft.entries.section('work').limit(3).private('not 1').superHero('not 1').featured('1') as entries %}
			<ul class="info-blocks info-blocks-advanced-effect cf">
				{% for entry in entries %}
				<li class="grid_4">
					<div style="background-image: url({%if entry.workImage | length %}{% for asset in entry.workImage %}{{ asset.url }}{% endfor %}{% else %}{{ craft.setcookie.vimPic(entry.video) }}{% endif %});">
						<a href="{{ entry.url }}">
						</a>
						<div>
							<h5>{{ entry.title }}</h5>
							<p>{{entry.shortDescription}}</p>
						</div>
					</div>
				</li>
				{% endfor %}
			</ul>
			{% endpaginate %}
		</div>
	</div>
</section>

<section class="about-section banner_sizing img_overlay" style="background-image: url('/img/about.jpg');">
	<div class="container cf">
		<div class="grid_full">
			<div class="about-info">
				<h3>{{clarityMatters.heading}}</h3>
				{{clarityMatters.body}}
				<a href="/about/" class="btn">About</a>
			</div>
		</div>
	</div>
</section>

<div class="arrow-down">
    &darr;
</div>

<!--
<script>
 $(function(){
 var lastScrollTop = 0, delta = 50;
 $(window).scroll(function(){
 var nowScrollTop = $(this).scrollTop();
 if(Math.abs(lastScrollTop - nowScrollTop) >= delta){
 if (nowScrollTop > lastScrollTop){
 // ACTION ON
 // SCROLLING DOWN 
 $(".arrow-down").fadeOut(400,'linear')
} else {
 // ACTION ON
 // SCROLLING UP 
$(".arrow-down").fadeIn();
 }
 lastScrollTop = nowScrollTop;
 }
 });
 });
 </script>
-->
<script type="text/javascript">
    $(window).scroll(function() {
        if($(window).scrollTop() > 50) {
            $(".arrow-down").fadeOut(400,'linear')
        } else {
            $(".arrow-down").fadeIn();
        }
    });
</script>

{% if not play %}

<script charset="utf-8">
	$(document).ready(function(){
		$('#video').hide();
		$('#play').on('click', function(e){
			e.preventDefault();
			$('.project-banner').css('background-image','none');
			$('#video').show();
      $('.hero-bg').hide();
			var src = $('#video iframe').attr('src');
			$('#video iframe').attr('src', src + '?autoplay=1');
			$(this).hide();
		});
	});
</script>
{% endif %}

{% if play %}
<script charset="utf-8">
	$('.project-banner').css('background-image','none');
</script>
{% endif %}

{% endblock %}
