$black: #262828;
$offblack: #2D2F2F;
$gray: #7D7D78;
$darkgray: #525454;
$lightgray: #D9D9DA;
$white: #FFF;
$offwhite: #949595;
$orange: #FF8936;
$choc: #A4594D;
$blue: #6DCEC1;

$font: 'Whitney SSm A', 'Whitney SSm B', 'myriad pro', Helvetica, Arial, sans-serif;
