{% extends "_layout" %}


{% block content %}

<section class="banner_sizing bg_white down_arrow">
	<div class="container cf">
		<div class="grid_full">
			<div class="page-title">
				<h1>Contact</h1>
				<hr class="short">
				<h3>Got a project that could benefit from a little clarity?&ensp;&ensp;Let’s talk.</h3>
			</div>
		</div>
	</div>
</section>

{# returns an array of your email settings #}
{% set settings = craft.systemSettings.email %}

<section class="bg_gray">
	<div class="container cf">
		<div class="grid_full">
			<div class="page-form">
				<h5>Get Started</h5>
				<form method="post" action="../mailer.php">
					<input type="text" name="name" placeholder="Your Name">
					<input type="email" name="email" placeholder="Your Email Address">
					<textarea name="message" placeholder="Your Message"></textarea>
					<input type="hidden" name="to" value="{{ settings.emailAddress }}">
					<input type="submit" value="Send">
				</form>
			</div>
		</div>
	</div>
</section>

{% endblock %}
