{% extends "_layout" %}


{% block content %}

<section class="banner_sizing bg_white down_arrow">
	<div class="container cf">
		<div class="grid_full">
			<div class="page-title">
				<h1>Contact</h1>
				<hr class="short">
				<h3>Got a project that could benefit from a little clarity?&ensp;&ensp;Let’s talk.</h3>
			</div>
		</div>
	</div>
</section>

<section class="bg_gray">
		<h2 style="font-size:4em; text-align:center; padding:1em 0 0; text-transform:uppercase; letter-spacing:1px;">Thanks!</h2>
		<h3 style="text-align:center; margin-top:-2em; padding:0 0 4em;">We'll be in touch.</h3>
	</div>
</section>

{% endblock %}
